html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 1em;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
}

nav ul {
    background-color: #333;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #4CAF50;
}


.employee-form {
    border-style: solid;
    padding: 10px;
    margin: auto;
    width: 50%;
}
.employees-table {
    border-style: solid;
    padding: 20px;
    margin: auto;
    width: 70%;

}
body > table{
    width: 80%;
}
table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}
input[type=text], input[type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 30%;
    background-color: black;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form div.form-action-buttons{
    text-align: right;
}
a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}
label.validation-error{
    color:   red;
    margin-left: 5px;
}
.hide{
    display:none;
}


.filter-container {
    width: 50%;
    margin: auto;
}




footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    font-style: italic;
    margin-top: auto;
}